.tala
{
	/*background-color: #3391ff ;*/
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,172,27,1) 35%, rgba(0,212,255,1) 100%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notes
{
	margin: 0;
}

img
{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	align-self: center;
	box-shadow: #0a8269 2px 5px 5px;
}

body{
	margin: 0;
}
.links{
	height: 50px;
	width: 50px;
}