.tala
{
	background-color: #ffbd33;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notes
{
	margin: 0;
}

img
{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	align-self: center;
	box-shadow: #0a8269 2px 5px 5px;
}

body{
	margin: 0;
}